@font-face {
    font-family: "Futura Bk";
    font-style: normal;
    font-weight: 400;
    src: url(Fonts/Futura-Book.woff2);
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url(Fonts/Montserrat.woff2);
}
@font-face {
    font-family: "Nunito";
    src: url(Fonts/Nunito.woff);
}
@font-face {
    font-family: "Born Ready Slanted";
    src: url(Fonts/BornReadySlanted-Regular.woff2)
}
body {
    margin:0px;
    font-family: "Futura Bk", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.post-header-0{
    display: flex;
    background-color: #C8C8C8;
    margin-bottom: 3px;
    font-size: 14px;
}
.post-header-0 *{
    width:100%;
    text-align: center;
    margin:0px;
    padding-bottom:4px;
}
.post-header0 {
    display: flex;
    justify-content:flex-end;
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #FFFFFF;
}
.post-header0 div{
    justify-content:flex-end;
}
.post-header0 .left-logo{
    padding-left: 30%;
    width: 100%;
}
.post-header0 img{
    margin-left: auto;
    margin-right: auto
}
.right-logo{
    display: flex;
    text-align: center;
    width: 100%;
}
.platform{
    display: none;
    position: absolute;
    background-color: white;
    width: 200px;
    z-index: 1;
}
.platform a{
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
}
.post-header0 img{
    margin-left: auto;
    margin-right: auto
}
.post-header1 {
    display: flex;
    padding-top: 23px;
    max-width: 1200px;
    margin: 0 auto;
}
.burger {
    font-size: 28px;
}
.menu {
    display: none;
}
.right-logo{
    display: flex;
    text-align: center;
    width: 100%;
}
.indlogo {
    margin-left: 10px;
    margin-right: 10px;
}
.inbasketlogo{
    position: relative;
}
.minicart-container {
    display: none;
    position: relative;
}
.platform-right{
    position: absolute; right: -19px;
    width: 320px;
    border: 1px solid gray;
    text-align: left;
    padding: 0 20px 20px 20px;
    z-index: 8;
    background-color: #FFFFFF;
}
.platform-right .basket1{
    display: flex;
    flex-direction: row;
    justify-content:start;
}
.platform-right .basket2{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.platform-right .basket3{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-left: 10px;
}
.platform-right .wide{
    width: 100%;
    margin-top: 20px;
}
.platform-right img {
    margin-left: 0px;
    margin-right: 0px;
}
.platform-right div{
    position:relative;
    flex-direction: column;
    background-color:white;
}
.basket-logo {
    font-size: 22px;
    padding-left:10px;
}
.bottle {
    margin: 20px;
}
.button button{
    text-align: center;
    background-color: #55A18C;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 5px 0 7px 0;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}
.inlogo > .button{
    display:none;
}
.inlogo:hover > .button {
    display: block;
}
.post-header2 div{
    width: 100%;
    text-align: center;
}
.dropbtn {
    font-size: 16px;
    border: none;
    background-color:white;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 160px;
    z-index: 99999;
    border: 1px solid gray;
    padding: 10px;
}
.dropdown-content a {
    color: black;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5px;
}
.search {
    display:flex;
    margin:0px;
    justify-content: flex-end;
}
.count {
    position: absolute;
    background-color: #55A18C;
    font-size: 10px;
    right: -10px;
    color: #FFFFFF;
    bottom: 35px;
    border-radius: 8px;
    padding: 2px 7px 2px 7px;
}
.menu:focus-within > .platform{display:initial;}
.basket:focus-within > .minicart-container{display:initial;}
.dropdown:hover .dropdown-content {display: block;}
#page-top {
    position: sticky;
    top: 0; 
    left: 0; 
    background-color: white;
    z-index: 7;
}
/*end of the header*/
.main-container{
    margin: 0 auto;
    max-width: 1200px;
    padding-right: 20px;
    padding-left: 20px;
}
.special-container{
    margin: 0 auto;
    max-width: 1200px;
    padding-right: 20px;
    padding-left: 20px;
}
.banner{
    background-size: 100% 100%;
    background-image: url("images/home-banner-cutout.png"),linear-gradient(90deg, #141e4b 0%, #90d1e6 100%);
}
.banner-text{
    float: left;
    max-width: 600px;
    padding-top: 20px;
    padding-bottom: 50px;
}
.trinkt{
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    color: #fff;
}
.manufaktur{
    font-family: "Nunito";
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}
.banner-button{
    border: 1px solid #fff;
    padding: 11px 55px;
    cursor: pointer;
    color: #fff;
}
.banner_suspicious img{
    display: flex;
    width: auto;
    height: auto;
    vertical-align: middle;
    max-width: 475px;
}
@media (max-width:1024px){
    .banner_suspicious img{
        max-width: 568px;
        position: absolute;
        right: 0;
        top: 0px;
    }
    .banner-text{
        max-width: 400px;
    }
}
@media (max-width:765px){
    .manufaktur{
        max-width: 180px;
    }
}
@media (max-width:620px){
    .banner-text{
        max-width: 100%;
    }
    .banner_suspicious img{
        max-width: 300px;
        top: 74px;
    }
    .trinkt{
        font-size: 24px;
        line-height: 28px;
    }
}
@media (max-width:480px){
    .banner-button{
        padding: 0px;
        display: block;
        width: 160px;
        height: 40px;
        letter-spacing: 0;
        line-height: 40px;
        text-align: center;
    }
    .banner_suspicious img{
        max-width: 229px;
        top: 139px;
    }
}
.spirt_grid{
    display: block;
    box-sizing: border-box;
}
.spirt_picture{
    padding: 0 0 20px 30px;
    width: 33.333333%;
    float: left;
    box-sizing: border-box;
}
.phone_hidden{
    padding: 0 0 20px 30px;
    width: 33.333333%;
    float: left;
    box-sizing: border-box;
}
.absolute{
    position: absolute;
}
.spirt_name{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#fff;
    font-size: 50px;
    font-weight: 700;
}
.getranke{
    text-align: center;
    margin: 20px 0 15px;
    font-size: 36px;
}
.after-getranke{
    text-align: center;
    font-family: "Nunito";
    font-size: 18px;
    padding-top: 7px;
    margin: 0 0 45px;
}
.product_grid{
    display: block;
    box-sizing: border-box;
}
.product_examples_purple{
    min-height: 340px;
    width: 48.936170212766%;
    margin: 50px 2% 80px 0;
    float: left;
    display: block;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(87,18,81,1) 0%, rgba(96,57,93,1) 70%);
    position: relative;
}
.product_examples_green{
    min-height: 340px;
    width: 48.936170212766%;
    float: left;
    display: block;
    margin: 50px 0 80px 0;
    box-sizing: border-box;
    background: linear-gradient(60.62deg, #1F2A2E 18.72%, #293A3A 47.64%, #126967 89%);
    position: relative;
}
.product_grid *{
    color: #fff;
}
.product_head{
    font-family: 'Born Ready Slanted';
    font-size: 35px;
    font-style: italic;
    margin-bottom: 15px;
    margin-top: 0px;
    line-height: 18px;
}
.product_base{
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.product_type{
    padding: 38px 0px 6px 0px;
    font-family: 'Nunito';
    font-size: 14px;
}
.product_price{
    font-family: 'Born Ready Slanted'; 
    font-style: italic;
    font-size: 30px;
}
.product_button{
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: -45px;
}
.product_button a{
    background: #e8c511;
    padding: 11px 45px;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 14px;
}
.DEIN{
    text-align: center; 
    letter-spacing: 2px; 
    font-size: 36px;
}
.Wir{
    text-align: center; 
    font-size: 18px; 
    padding-top: 7px; 
    font-family: 'Nunito';
}
.banner_purple{
    height: 590px;
    background-size: 100% 100%;
    color:#fff;
    background-image: url(images/midle-img-cutout.png), linear-gradient(178.86deg, #FE48EC -30.51%, #A20192 0.23%, #7A016E 37.56%, #510049 74.23%, #290025 109.32%, #140012 148.34%);
}
.banner_purple_image{
    width: 50%;
    float: left;
}
.banner_purple_image img{
    max-width: 100%;
    height: auto;
}
.purple_flower{
    font-weight: 500;
    font-size: 37px;
    line-height: 21px;
    padding: 0 0 15px;
    letter-spacing: 3px;
}
.purple_slanted{
    padding: 25px 0 0;
    font-family: 'Born Ready Slanted';
    font-style: italic;
    font-size: 100px;
}
.bottles_purple{
    padding-left:20px;
    margin-bottom:20px;
    float:left;
    box-sizing:border-box;
    width:25%;
}
.one_bottle{
    float:left; 
    box-sizing: border-box;
    width:20%;
}
.mass_bottle{
    float:left; 
    box-sizing: border-box;
    width:80%;
}
.purple_text{
    float: right;
    width: 50%;
}
.inner_one_bottle{
    padding-left:20px;
    margin-bottom:20px;
    float:left;
    box-sizing:border-box;
}
.inlogo1{
    text-align:center;
    color:#55a18c;
    font-size:12px;
    letter-spacing:2px;
}
.inlogo2{
    text-align:center;
}
.gallery1{
    display:flex;
    margin-top:20px;
    margin-bottom:38px;
    width:1200px;
}
.gallery2{
    align-items:center;
    justify-content:center;
    display:flex;
}
.gallery3{
    letter-spacing:3px;
    font-size:18px;
    font-weight:500;
    line-height:24px;
    display:inline-block;
}
.gallery4{
    font-size:48px;
    font-weight:600;
    margin-left:30px;
}
.galleryLine{
    border-left: 3px solid #55a18c;
    height:75px;
    width:1px;
    display:inline-block;
    margin: 0 30px;
}
.gallery5{
    color:#55a18c;
    letter-spacing:3px;
    font-size:32px;
    font-weight:700;
    margin:10px 0;
    line-height:42px;
}
.gallery6{
    margin: 4px 0;
    font-size:18px;
    line-height:18px;
}
.gallery_1{
    font-size:52px;
    position:absolute;
    cursor:pointer;
    right:10px;
    bottom:49px;
}
.purple_small{
    font-size: 14px;
    font-family: 'Nunito';
}
.purple_small2{
    margin-bottom:30px;
    padding:30px 64px 0;
    letter-spacing:0em;
}
.product_examples_bottle{
    width: 46%; 
    float: left;
}
@media (max-width:1024px){
    .purple_slanted{
        font-size: 80px;
    }
    .purple_flower{
        font-size: 30px;
    }
}
@media (max-width: 979px){
    .bottles_purple{
        width:33.33333333%;
    }
}
@media (max-width:765px){
    .purple_slanted{
        font-size: 55px;
        padding-top: 0px;
    }
    .purple_flower{
        font-size: 16px;
    }
    .banner_purple{
        height: 400px;
    }
    .bottles_purple{
        width:50%;
    }
    .purple_small2{
        padding:30px 0px 0;
    }
    .banner_purple_image{
        width: 50%;
        float: right;
        z-index: 0;
        top: 0px;
        right: 0px;
        position: absolute;
    }
    .purple_text{
        float:left;
        width: 100%;
    }
    .one_bottle{
        float: none;
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
    .gallery_1{
        right:-10px;
    }
    .mass_bottle{
        width:100%;
    }
    .inner_one_bottle{
        padding-left:0px;
        margin-bottom:0px;
        float:none;
        box-sizing:initial;
        
    }
    .inner_one_bottle img{
        width: 1000px;
    }
    .product_examples_purple{
        width: 100%;
        float:none;
    }
    .product_examples_green{
        width: 100%;
        float:none;
    }
    .gallery1{
        display: initial;
    }
    .gallery2{
        justify-content: initial;
    }
    .gallery3{
        font-size: 12px;
        display: flex;
    }
    .g_mar{
        margin-left: 10px;
    }
    .gallery4{
        font-size: 24px;
        margin-left:10px;
    }
    .galleryLine{
        display: none;
    }
    .gallery5{
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 26px;
        margin: 0;
    }
    .gallery6{
        font-size: 14px;
        margin:0px 0;
    }
    .gallery_1{
        bottom:85px;
    }
    .special-container{
        padding-right: 0px;
        padding-left: 0px;
    }
    .product_head{
        font-size: 20px;
    }
    .product_base{
        font-size: 11px;
    }
    .product_type{
        padding-top: 0px;
    }
    .spirt_picture{
        width:50%;
        padding: 0 0 20px 20px;
    }
    .phone_hidden{
        display: none;
    }
    .getranke{
        padding-right: 20px;
        padding-left: 20px;
    }
    .after-getranke{
        padding-right: 20px;
        padding-left: 20px;
    }
    .product_examples_bottle{
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
}
@media (max-width:620px){
    .purple_slanted{
        font-size: 44px;
    }
    .banner_purple_image img{
        height: 180px;
        width: 180px;
    }
    .banner_purple_image{
        top: 213px;
    }
}
.purple_golden{
    color: #e98731;
}
.purple_price1{
    padding-left: 25px;
}
.purple_price2{
    font-family: 'Born Ready Slanted';
    font-size: 28px;
}
.relative{
    position: relative;
}
.besonderen{
    display: block;
    box-sizing: border-box;
}
.after:after{
    display: table;
    content: "";
    line-height: 0;
    width: 100%;
}
.besonderen_text{
    top: 0;
    text-align: center;
    width: 50%;
}
.background-slash{
    background-image: url("images/support-banner-cutout.png"), radial-gradient(circle,#3e5651 0%,#192429 100%); 
    background-size: 100% 100%; 
    height: auto;
    padding: 45px 0 28px 50px;
}
@media (max-width:768px){
    .besonderen_text{
        width: 100%;
        position: relative;
    }
}
.signature{
    float: right;
    width: 79%;
}
.signature_first{
    float: left;
    width: 50%;
    color: #55a18c;
    font-size: 15px;
    font-family: 'Futura Bk',-apple-system,sans-serif;
}
.instagram_header{
    margin: 90px 0 0 0;
    float: right;
    width: 70%;
    text-align: center;
}
@media (max-width:980px){
    .instagram_header{
        width: 100%;
    }
}
.instagram_images{
    width: 100%;
    display: block;
}
.instagram_carousel{
    overflow: hidden;
    position: relative;
}
.instagram_images *{
    padding: 0px 0px 5px 3px;
}
.E-mail_field{
    margin-top: -50px; 
    width: 55%;
    float:left;
}
@media (min-width:768px){
    .left_box{
        width: 55%;
    }
    .right_box{
        width: 35%;
    }
}
@media (max-width:768px){
    .E-mail_field{
        margin-top: 0px;
        width: 100%;
        text-align: center;
    }
    .instagram_images{
        float: none;
    }
    .image_carousel{
        width:1399px;
    }
    .image_carousel img{
        pointer-events: none;
    }
    .container {
        display: flex;
        overflow: hidden;
        transform: translate(calc(var(--i, 0)/var(--n)*-100% + var(--tx, 0px)));
        position: relative;
    }
    .background-slash{
        background-image: url("images/midle-img-cutout.png"), radial-gradient(circle,#3e5651 0%,#192429 100%); 
    }
}
.dein_bottle{
    background-image: url("images/smutje-kokosnuss-likoer-rum.png")
}
.green_price2{
    font-family: 'Born Ready Slanted';
    font-size: 28px;
    color: #55a18c;
}
.button button{
    text-align: center;
    background-color: #55A18C;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 5px 0 7px 0;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}
.inlogo:hover > .card-price-font{
    display: none;
}
.inlogo > .button{
    display:none;
}
.inlogo:hover > .button {
    display: block;
}
.gallery{
    transform: translate(0px);
    transition-duration: 200ms;
    transition-property: all;
}
.gallery-2{
    transform: translate(-1200px);
    transition-duration: 200ms;
    transition-property: all;
}
.gallery-3{
    transform: translate(-2400px);
    transition-duration: 200ms;
    transition-property: all;
}
.E-mail_text{
    padding: 0 15px; 
    width: 45%; 
    float: left;
}
.E-mail_box{
    width: 33%; 
    float: left; 
    padding:27px 0 0 0;
}
.E-mail_image{
    width: 40%; 
    padding-left:20px; 
    border-left: 1px solid #ccc; 
    margin-top: 40px; 
    float:left;
}
@media (max-width:768px){
    .notebook{
        display: none;
    }
    .E-mail_text{
        display: none;
    }
    .E-mail_box{
        width: 100%;
        float: none;
        display: inline-block;
        max-width: 200px;
    }
    .E-mail_image{
        width: 100%;
    }
    .signature{
        width: 100%;
    }
}
.green_name{
    font-size:36px; 
    color: #55a18c; 
    margin: 0 0 15px;
}
.left_box{
    float:left;
}
.right_box{
    float:right; 
    text-align: center;
}
.green_phone{
    color: #fff; 
    font-size: 36px;
}
@media (max-width:768px){
    .green_name{
        font-size:16px; 
    }
    .right_box{
        float: none;
        margin-top: 29px;
        text-align: left;
    }
    .left_box{
        float: none;
    }
    .green_phone{
        font-size: 16px;
    }
}
.smooth { 
    transition: transform calc(var(--f, 1)*.5s) ease-out; 
}
@media(max-width:480px){
    .DEIN{
        font-size: 18px;
    }
    .getranke{
        font-size: 18px;
    }
}
/*beginning of the footer*/
.copyright {
    text-align: center;
    color: #55a18c;
    padding-bottom: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.footer-list {
    display: flex;
    flex-direction: column;
}
.email-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: #162331;
    max-width: 240px;
}
.phone-number {
    color: #55a18c;
    font-size: 25px;
    font-weight: 400;
}
.post-header4 {
    display: flex;
    padding: 23px auto 0 auto;
    max-width: 1200px;
    margin: 0 auto;
}
.footer-header {
    background-color: #405557;
}
.footer-header div{
    width: 100%;
    background-color: #405557;
}
.footer-logo {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}
.footer-menu-name {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    color: #55a18c;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-style: normal;
    line-height: normal;
}
.footer-menu-content {
    margin-bottom: 15px;
    color:#FFFFFF;
}
/*Media*/
@media (max-width:1024px){
    .post-header2 {
        display: none;
    }
    .left-logo img{
        width: 150px;
        height: auto;
    }
    .post-header0 {
        display: flex;
        justify-content:flex-start;
    }
    .post-header0 .right-logo{
        display: flex;
        text-align: center;
    }
    .post-header0 .left-logo{
        padding-left: 0;
    }
    .right-logo span >div{
        display: none;
    }
    .menu {
        display: inline-block;
    }
}
@media (max-width:980px){
    .post-header-0{
        display: none;
    }
    .post-header0 {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 7;
    }
}
@media (max-width:765px){
    .platform-right{
        width:300px;
    }
    .post-header4 {
        display:block;
    }
    .footer-list a{
        padding-left: 20px;
    }
    .email-margin {
        margin-left:20px;
    }
    .button-margin {
        margin-left:20px;
    }
}
img {
    max-width: 100%;
}