.after:after{
    display: table;
    content: "";
    line-height: 0;
    width: 100%;
}
.main-container{
    margin: 0 auto;
    max-width: 1200px;
    padding-right: 0px;
    padding-left: 0px;
}
.border-box{
    box-sizing: border-box;
}
.title-line{
    position: relative;
}
.title-line:after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    height: 1px;
    width: calc(100% - 180px);
    background-color: #e5e5e5;
}
.h4-first:hover{
    color: #55a18c;
}
img {
    max-width: 100%;
}
h2{
    font-family: 'Futura Bk',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    background-color: #fff;
    z-index: 1;
    padding-right: 25px;
    margin: 0px;
}
h4{
    font-family: 'Futura Bk',sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0px;
}