.container {
    display: flex;
    overflow: hidden;
    transform: translate(calc(var(--i, 0)/var(--n)*-100% + var(--tx, 0px)));
    position: relative;
}
.smooth { 
    transition: transform calc(var(--f, 1)*.5s) ease-out; 
}
.after:after{
    display: table;
    content: "";
    line-height: 0;
    width: 100%;
}
.main-container{
    margin: 0 auto;
    max-width: 1200px;
    padding-right: 20px;
    padding-left: 20px;
}
h2{
    font-family: 'Futura Bk',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    background-color: #fff;
    z-index: 1;
    padding-right: 25px;
    margin: 0px;
}
h4{
    font-family: 'Futura Bk',sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0px;
}
.popular-now{
    width: 50%; 
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
    margin-bottom: 70px;
}
.popular-now__big-card{
    margin:-125px auto 0;
    padding:40px 30px;
    width:80%;
    background-color: #fff;
    box-shadow:0px 4px 20px rgb(0 0 0 / 10%);
    display:inline-block;
    box-sizing:border-box;
    transform:translateX(-50%);
    left:50%;
    position:relative;
}
.grid{
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}
.gray-strip__word-style{
    padding: 0 30px; 
}
.border{
    border-left:2px solid #c8c8c8;
}
.menu__green-buttons{
    background-color: #f9f9f9; 
    padding: 35px;
    display: flex;
    flex-direction: column;
}
.menu__green-buttons > .menu__active{
    background-color: #55a18c;
    color: #fff;
}
.menu__green-buttons > a{
    cursor:pointer;
    margin-top:13px;
    background-color: rgba(85,161,140,0.05);
    border:1px solid #55a18c;
    text-align:center;
    color: #373737;
    font-size:14px;
    padding:8px;
}
.menu__green-buttons > a:hover{
    background-color: #55a18c;
    color: #fff;
}
.menu__posts{
    padding-left:40px;
    width:76%;
}
.title-line{
    position: relative;
    margin: 70px 0 30px;
}
.title-line:after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    height: 1px;
    width: calc(100% - 180px);
    background-color: #e5e5e5;
}
.full-line:after{
    width: 100%;
}
.colored-Thomas{
    display:flex;
}
.colored-Thomas__img{
    height: 400px;
    width: 46%;
    background-position: center center;
    background-image: url("images/tyrell-interview-braukunstatelier-titelbild.jpg")
}
.colored-Thomas__text{
    margin-top:70px;
    width:50%;
    padding-left:20px;
}
.colored-Thomas__text-head{
    font-size:30px;
    cursor: pointer;
}
.article{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.menu__posts-mobile{
    display:flex;
    flex-wrap:wrap;
    width:1196px;
}
.menu__post{
    width:299px;
    padding:10px;
    box-sizing:border-box;
}
@media (max-width:991px) {
    .popular-now{
        width: 100%;
    }
    .popular-now__big-card{
        width:100%;
        padding: 30px 15px;
        left: 0px;
        transform: translateX(0);
    }
    .popular-now + .popular-now{
        margin-top: 40px;
    }
    h2{
        font-size: 24px;
    }
    .grid{
        width: 50%;
    }
    .gray-strip__word-style{
        font-size: 14px;
        padding: 0 15px;
    }
    .menu__green-buttons{
        padding: 20px;
    }
    .menu__posts{
        width:70%;
    }
    .last{
        margin-top: 0;
    }
}
@media (max-width:767px) {
    .colored-Thomas{
        flex-direction: column;
    }
    .colored-Thomas__img{
        width: auto;
        height: 240px;
        position: relative;
        margin: 0 -20px;
    }
    .colored-Thomas__img > img{
        width: auto;
        height: 240px;
    }
    .colored-Thomas__text{
        width:100%;
        padding: 30px 20px;
        margin-top: 0px;
    }
    .colored-Thomas__text-head{
        font-size: 20px;
        line-height: 26px;
    }
    .phone-hidden{
        display: none;
    }
    .menu__posts{
        width:100%;
        padding-left:0;
    }
    .menu__green{
        overflow: hidden;
        position: relative;
    }
    .menu__green-buttons{
        position: absolute;
        z-index: 2;
        right: -250px;
    }
    .article-button{
        display: none;
    }
    .title-line:after{
        width: 100%;
    }
    .article{
        justify-content: center;
    }
    .h2-last{
        padding: 0 15px;
    }
    .menu__posts-mobile{
        width: initial;
        flex-direction: column;
    }
    .menu__post{
        display: flex;
        width: initial;
        align-items: center;
    }
    .container{
        transform: initial;
    }
}
.border-box{
    box-sizing: border-box;
}
.article-button{
    width:160px;
    height:38px;
    background-color: #fff;
    border:1px solid #55a18c;
    text-align:center;
    line-height: 36px;
    text-transform:uppercase;
    cursor:pointer;
}
.article-button:hover{
    background-color: #55a18c;
    color: #fff;
}
.h4-first:hover{
    color: #55a18c;
}
img {
    max-width: 100%;
}
