@font-face {
    font-family: "Futura Bk";
    font-style: normal;
    font-weight: 400;
    src: url(Futura-Book.woff2);
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url(Montserrat.woff2);
}
body {
    margin:0px;
    font-family: "Futura Bk", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.post-header-0{
    display: flex;
    background-color: #C8C8C8;
    margin-bottom: 3px;
    font-size: 14px;
}
.post-header-0 *{
    width:100%;
    text-align: center;
    margin:0px;
    padding-bottom:4px;
}
.post-header0 {
    display: flex;
    justify-content:flex-end;
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #FFFFFF;
}
.post-header0 div{
    justify-content:flex-end;
}
.post-header0 .left-logo{
    padding-left: 30%;
    width: 100%;
}
.post-header0 img{
    margin-left: auto;
    margin-right: auto
}
.right-logo{
    display: flex;
    text-align: center;
    width: 100%;
}
.platform{
    display: none;
    position: absolute;
    background-color: white;
    width: 200px;
    z-index: 1;
}
.platform a{
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
}
.post-header0 img{
    margin-left: auto;
    margin-right: auto
}
.post-header1 {
    display: flex;
    padding-top: 23px;
    max-width: 1200px;
    margin: 0 auto;
}
.burger {
    font-size: 28px;
}
.menu {
    display: none;
}
.right-logo{
    display: flex;
    text-align: center;
    width: 100%;
}
.indlogo {
    margin-left: 10px;
    margin-right: 10px;
}
.inbasketlogo{
    position: relative;
}
.minicart-container {
    display: none;
    position: relative;
}
.platform-right{
    position: absolute; right: -19px;
    width: 320px;
    border: 1px solid gray;
    text-align: left;
    padding: 0 20px 20px 20px;
    z-index: 8;
    background-color: #FFFFFF;
}
.platform-right .basket1{
    display: flex;
    flex-direction: row;
    justify-content:start;
}
.platform-right .basket2{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.platform-right .basket3{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-left: 10px;
}
.platform-right .wide{
    width: 100%;
    margin-top: 20px;
}
.platform-right img {
    margin-left: 0px;
    margin-right: 0px;
}
.platform-right div{
    position:relative;
    flex-direction: column;
    background-color:white;
}
.basket-logo {
    font-size: 22px;
    padding-left:10px;
}
.bottle {
    margin: 20px;
}
.button button{
    text-align: center;
    background-color: #55A18C;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 5px 0 7px 0;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}
.inlogo > .button{
    display:none;
}
.inlogo:hover > .button {
    display: block;
}
.post-header2 div{
    width: 100%;
    text-align: center;
}
.dropbtn {
    font-size: 16px;
    border: none;
    background-color:white;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 160px;
    z-index: 99999;
    border: 1px solid gray;
    padding: 10px;
}
.dropdown-content a {
    color: black;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5px;
}
.search {
    display:flex;
    margin:0px;
    justify-content: flex-end;
}
.count {
    position: absolute;
    background-color: #55A18C;
    font-size: 10px;
    right: -10px;
    color: #FFFFFF;
    bottom: 35px;
    border-radius: 8px;
    padding: 2px 7px 2px 7px;
}
.menu:focus-within > .platform{display:initial;}
.basket:focus-within > .minicart-container{display:initial;}
.dropdown:hover .dropdown-content {display: block;}
/*end of the header*/
.main-content{
    margin: 0 auto;
    max-width: 1200px;
}
.gallery-box img{
    width:585px;
    height: 400px;
}
.gallery-box{
    background: #f3f3f3;
    width: 50%;
    height: 624px;
    margin-right: 30px;
    overflow: hidden;
}
.product_form{
    width: 50%;
}
.gallery{
    position:relative;
    margin-top: 112px;
    transform: translate(0px);
    transition-duration: 2s;
    transition-property: all;
    display: flex;
    flex-direction: row;
    width: 1755px;
}
.gallery-button{
    text-align: center;
}
.gallery-2{
    position:relative;
    transform: translate(-585px);
    transition-duration: 2s;
    transition-property: all;
    display: flex;
    flex-direction: row;
    margin-top: 112px;
    width: 1755px;
}
.gallery-3{
    position:relative;
    transform: translate(-1170px);
    transition-duration: 2s;
    transition-property: all;
    display: flex;
    flex-direction: row;
    margin-top: 112px;
    width: 1755px;
}
.title{
    font-size: 24px;
    margin: 39px 0px 12px 0px;
    padding-right: 70px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
.price{
    margin: 24px 0px 10px 0px;
    display: block;
    position: relative;
}
.price_main{
    font-size: 40px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: #55a18c;
}
.bottom_add_price{
    font-size: 12px;
    font-family: "Montserrat",sans-serif;
}
.top_add_price{
    position: absolute;
    left: 145px;
    top: 8px;
    font-size: 12px;
    font-family: "Montserrat",sans-serif;
}
.inhalt_size{
    position: absolute;
    left:60%;
    font-family: "Montserrat",sans-serif;
}
.inhalt_size strong{
    font-size: 18px;
}
.tax_container{
    font-family: "Montserrat",sans-serif,sans-serif;
    font-size: 12px;
    margin-top: -3px;
    margin-bottom: 30px;
    padding-bottom: 0;
}
.price_was{
    font-family: "Montserrat",sans-serif;
    font-size: 24px;
    color: #9a6162;
}
.price_net{
    color: #333;
    font-weight: 600;
    margin-left: 10px;
}
.amount{
    margin-top: 25px;
    display: flex;
}
.amount_number{
    width: 58px;
    height: 62px;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Montserrat",sans-serif;
    text-align: center;
    border-color: #cfd0d0;
    border: 1px solid #d9d9d9;
    padding: 0px;
}
.amount_button_container{
    height: 64px;
}
.amount_button{
    background: #74b5a3;
    padding: 0 18px;
    border-radius: 10px;
    color: #fff;
    line-height: 63px;
    border: 1px solid rgba(0,0,0,0);
    cursor: pointer;
    font-weight: 500;
    vertical-align: middle;
    margin: 0px 52px 0px 5px;
}
.marked_storage{
    color: #55a18c;
    font-family: "Montserrat",sans-serif;
    margin-top: 30px;
}
.bonuses{
    margin-top: 46px;
    margin-bottom: 41px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.bonuses_exp{
    vertical-align: middle;
    display: inline-block;
    margin-left: 7px;
    font-family: "Montserrat",sans-serif;
}
.flex {
    display: flex;
}
.Lieferung {
    padding-bottom: 12px;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
}
.others{
    padding: 6px 0px 6px 0px;
}
.features{
    background: #f3f3f3;
    height: 280px;
    width: 224px;
    margin: 0 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.features_text{
    text-align: center;
    margin: 32px auto 0px auto;
}
.map_tab{
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    transform: translateY(0px);
    opacity: 1;
    display: absolute;
}
.bottle_tab {
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    transform: translateY(0px);
    opacity: 0;
    position: absolute;
    left:0;
    margin-top: 30px;
}
.map_tab{
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    transform: translateY(0px);
    opacity: 0;
    position: absolute;
    left:0;
    text-align: center;
    padding-top: 45px;
    width: 100%;
}
.tab_warp{
    flex-direction: column;
    position: relative;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.radio1_tab{
    cursor: pointer;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    padding: 0 25px;
    padding-bottom: 14px;
    font-weight: 600;
    border-bottom: 4px solid #fff;
}
.radio2_tab{
    cursor: pointer;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    padding: 0 25px;
    padding-bottom: 14px;
    font-weight: 600;
    border-bottom: 4px solid #fff;
}
.radio1, .radio2{
    display: none;
}
.radio1:checked ~ .bottle_tab{
    opacity: 1;
}
.radio2:checked ~ .map_tab{
    opacity: 1;
}
